{:paths   ["src"]
 :deps    {org.clojure/clojure         {:mvn/version "1.10.3"}
           org.clojure/tools.cli       {:mvn/version "1.0.206"}
           io.replikativ/datahike      {:mvn/version "0.4.1481"}}
 :aliases {:uberjar {:extra-deps {uberdeps/uberdeps {:mvn/version "1.1.2"}}
                     :main-opts  ["-m" "uberdeps.uberjar" "--target" "target/bench.jar"]}}}
