{:store {:backend :jdbc
         :dbtype "postgresql"
         :host "localhost"
         :port 5435
         :user "replikativ"
         :password "datahike"
         :dbname "mem_bench"}
 :keep-history? true
 :attribute-refs? false
 :schema-flexibility :write}
